*{
    margin: 0;
    padding: 0;
    font-family: 'gilroy';
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}
*::selection{
    color: #fff;
    background-color: #000;
}

#main{
    width: 100%;
    background-color: #fff;
    
}

#home{
    width: 100%;
    min-height: 100vh;
   
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
}

#nav img{
    width: 80px;
    
}

#nav #right{
    display: flex;
    align-items: center;
    gap: 30px;
}

#right a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    letter-spacing: -1px;
    font-size: 1.3vw;
}

#nav i{
    margin-top: 1px;
    font-size: 20px;
}

#home #home-main{
    width: 100%;  
    padding: 15vw 20vw;
}

#home-main h2{
    font-size: 1.2vw;
}

.headings{
    display: flex;
    gap: 40px;
}
.headings h1{
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 5.5vw;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 1;
}

.headings h1:hover{
    color: #000;
}

#home-last{
    padding: 1.8vw 20vw;
}

#home-last p{
    font-size: 1.5vw;
    letter-spacing: -.08vw;
    width: 80%;
}
#home-last p::selection{
    color: #fff;
    background-color: #000;
}

#featured {
    padding: 10vw 20vw;
}
.fheading h1{
    line-height: 1;
    font-size: 4vw;
}

.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}
.fheading>h1:nth-child(2):hover{
    color: #000;
}

#featured-images{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5vw;
    height: 100vh;
}
#fleft{
    width: 45%;
    height: inherit;
    overflow: hidden;
}


.fleftelem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}
 .fleftelem h1{
    font-size: 2.4vw;
    line-height: 1;
    text-transform: capitalize;
    margin: 2vw 0;
}
.fleftelem h3{
    font-size: 1.3vw;
}

.fleftelem h5{
    opacity: .5;
}

#fright{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: inherit;
}

#fright .images{
    width: 90%;
    height: 90%;
    overflow: hidden;
}
#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}
#btndiv button{
    padding: 1.2vw 2.5vw;
    border-radius: 100px;
    border: 2px solid #6f6f6f;
    background-color: #fff;
    font-size: 1vw;
    letter-spacing: -1px;
}



#dev{
    width: 100%;
    padding: 5vw 20vw;
}
#dev h1{
    font-size: 3.8vw;
    width: 60%;
    line-height: 1;
}

#dev p{
    font-size: 1.3vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 60%;
}

.slides{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8vw;
}
#slide{
    width: 30%;
}

#slide #img{
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
    background-color: yellow;
}

#slide #img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#slide #tag{
    width: fit-content;
    border-radius: 100px;
    margin: 20px 0;
    padding: 10px 22px;
    background-color: #f7f7f7;
}

#slide h3{
    font-size: 1.4vw;
    letter-spacing: -.5px;
}

#inspir{
    width: 100%;
    padding: 4vw 12vw;
}
#inspir h1{
    font-size: 3.5vw;
    width: 30%;
}

.slide2{
    width: 20%;
}
.slide2 #img{
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
    background-color: yellow;
}

.slide2 #img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide2 #tag{
    width: fit-content;
    border-radius: 100px;
    margin: 20px 0;
    padding: 10px 22px;
    background-color: #f7f7f7;
}
.slide2 h3{
    font-size: 1.2vw;
    letter-spacing: -.5px;
}
