*{
    margin: 0;
    padding: 0;
    font-family: 'gilroy';
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    background-color: #fff;
    
}

#home{
    width: 100%;
    min-height: 100vh;
   
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px 30px;
}

#nav img{
    width: 80px;
    
}

#nav #right{
    display: flex;
    align-items: center;
    gap: 30px;
}

#right a{
    text-decoration: none;
    color: black;
    font-weight: lighter;
    letter-spacing: -1px;
    font-size: 1.3vw;
}

#nav i{
    margin-top: 1px;
    font-size: 20px;
}

#home #home-main{
    width: 100%;  
    padding: 15vw 20vw;
}

#home-main h2{
    font-size: 1.2vw;
}

.headings{
    display: flex;
    gap: 40px;
}
.headings h1{
    color: transparent;
    -webkit-text-stroke: 1px #000;
    font-size: 5.5vw;
    font-weight: 900;
    letter-spacing: -3px;
    line-height: 1;
}

#home-last{
    padding: 1.8vw 20vw;
}

#home-last p{
    font-size: 1.5vw;
    letter-spacing: -.08vw;
    width: 80%;
}
#home-last p::selection{
    color: #fff;
    background-color: #000;
}

#featured {
    padding: 10vw 20vw;
}
#featured h1{
    line-height: 1;
    font-size: 4vw;
}
#featured h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

#featured-images{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 5vw;
    height: 100vh;
}
#fleft{
    width: 45%;
    height: inherit;
    border: 1px solid blue;
    overflow: auto;
}


.fleftelem{
    width: 100%;
    height: inherit;
    background-color: crimson;
}

#fright{
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-height: inherit;
}

#fright #images{
    width: 90%;
    height: 90%;
    background-color: crimson;
}